@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-scrollbar: var(--scrollbar);
    --color-home-accent: var(--home-accent);
    --color-group-label: var(--group-label);
}

:root {
    --radius: 0.625rem;
    --background: #fcf6fb;
    --foreground: #ab1669;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: #fcf6fb;
    --popover-foreground: #a53f6c;
    --primary: #a53f6c;
    --primary-foreground: #f8e4f1;
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: #f8f8f7;
    --accent-foreground: #ab1669;
    --destructive: oklch(0.577 0.245 27.325);
    --border: #efbdeb;
    --input: oklch(0.922 0 0);
    --ring: oklch(82.3% 0.12 346.018);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: #f1daf4;
    --sidebar-foreground: #ab1669;
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: #f8f8f7;
    --sidebar-accent-foreground: #ab1669;
    --sidebar-border: #efbdeb;
    --sidebar-ring: oklch(65.6% 0.241 354.308);
    --scrollbar: #dd9fc0;
    --home-accent: #f5dcef;
    --group-label: #560e2b;
}

.dark {
    color-scheme: dark;
    --background: #221d27;
    --foreground: #e7cfdd;
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: #181116;
    --popover-foreground: oklch(0.985 0 0);
    --primary: #42172b;
    --primary-foreground: #f3c4dd;
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: #2a232b;
    --accent-foreground: #e7cfdd;
    --destructive: oklch(0.704 0.191 22.216);
    --border: #3e334a;
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #181116;
    --sidebar-foreground: #e7cfdd;
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: #e7cfdd;
    --sidebar-accent: #261923;
    --sidebar-accent-foreground: #e7cfdd;
    --sidebar-border: #322028;
    --sidebar-ring: oklch(0.556 0 0);
    --scrollbar: #48414b;
    --home-accent: #2c2633;
    --group-label: #c46195;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground [&>div]:data-floating-ui-inert:pointer-events-none [&>div]:data-floating-ui-portal:pointer-events-auto;
    }
}

/* Clerk */
.clerk-user-button {
    @apply [&>div]:w-full [&>div>button]:w-full [&>div>button]:justify-start [&>div>button]:rounded-md [&>div>button]:p-2 [&>div>button]:text-sidebar-foreground [&>div>button]:hover:bg-sidebar-accent [&>div>button>span]:flex-row-reverse [&>div>button>span>span]:p-0 [&>div>button>span>span]:text-sm [&>div>button>span>span]:font-normal;
}

/* Markdown */
.markdown {
    @apply text-[#492C61] dark:border-red-500! dark:text-[#F2EBFA];
}
.markdown h1 {
    @apply mb-4 text-3xl font-bold;
}
.markdown h2 {
    @apply mb-4 text-2xl font-bold;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    @apply mb-4 font-bold;
}
.markdown p {
    @apply mb-4;
}
.markdown ul {
    @apply mb-4 ml-8 list-outside list-disc marker:text-[#C4739D] dark:marker:text-[#DC749E];
}
.markdown ol {
    @apply mb-4 list-outside list-decimal;
}
.markdown li {
    @apply mb-2;
}
.markdown hr {
    @apply my-12 dark:border-[#DC749E];
}
.markdown a {
    @apply text-pink-500 hover:underline dark:text-pink-300;
}
.markdown table {
    @apply w-full table-auto border-collapse;
}

.markdown th,
.markdown td {
    @apply p-2 text-left text-sm;
}
.markdown th {
    @apply border-b bg-sidebar py-3 dark:bg-[#1F1A24];
}
.markdown tr {
    @apply border-b last:border-b-0 hover:bg-[#F2CEE2] dark:hover:bg-[#322C36];
}
.markdown code:not(pre code) {
    @apply rounded bg-accent px-1 font-mono text-sm;
}

/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}
*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-track {
    background: var(--color-scrollbar);
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 14px;
    border: 3px solid var(--color-scrollbar);
}
